app/auth/node_modules
app/category/node_modules
app/client/node_modules
app/gateway/node_modules
app/product/node_modules
app/sale/node_modules

app/auth/.env
app/category/.env
app/client/.env
app/gateway/.env
app/product/.env
app/sale/.env

app/auth/package-lock.json
app/category/package-lock.json
app/client/package-lock.json
app/gateway/package-lock.json
app/product/package-lock.json
app/sale/package-lock.json


vagrant/.vagrant
