./auth/node_modules
./category/node_modules
./client/node_modules
./gateway/node_modules
./products/node_modules
./vente/node_modules
./auth/node_modules

./category/.env
./client/.env
./gateway/.env
./products/.env
./vente/.env

./category/package-lock.json
./client/package-lock.json
./gateway/package-lock.json
./products/package-lock.json
./vente/package-lock.json
